@import "common/variables";
@import "common/base";

.song-list {
    .song-item {
        padding-top: 12px !important;
        padding-bottom: 12px !important;
        padding-left: 6px !important;
        margin-left: 6px !important;
        border-bottom: .027rem solid #e0e0e0;
        .song-title {
            font-size: 16px;
            line-height: 22px;
            .label-vip {
                padding: 2px 8px;
                margin-left: 10px;
            }
        }
        .song-author {
            font-size: 12px !important;
        }
        .choose-button {
            border: 1px solid #ff895f;
            padding: 4px 8px;
            border-radius: 20px;
            color: #ff895f;
            font-size: 14px !important;
            text-align: center;
        }
    }
}

.singer-album-list {
    padding-top: 44px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    >div{
        width:50%;
    }
}

.single-list{
    .single-item{
        height:1.467rem;
        overflow: hidden;
    }
    .single-item:after{
        border-top:.027rem solid #e5e5e5;
        position:absolute;
        width:100%;
        left:2rem;
        bottom:0;
        content: "";
    }
}

.dialog-panel{
    &>div>div>div{
        -webkit-border-radius: 10px!important;
        -moz-border-radius: 10px!important;
        border-radius: 10px!important;
    }
    .sure-button{
        color: #ff6832!important;
    }
    .cancel-button{
        color: #6c6c6c!important;
    }
}
input, textarea {
    -webkit-user-select: text !important;
}

.hot-key{
    width:7.6rem;
    height:7.6rem;
    display: flex;
    flex-wrap: wrap;
    padding: .6rem;
    p{
        width: 1rem;
        height:1rem;
        margin:0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        -webkit-border-radius:50%;
        -moz-border-radius:50%;
        border-radius:50%;
        &.active,&:active{
            background-color: #ff6932;
            color: white;
        }
    }
}

.history-words{
    &>div{
        &>div:after{
            content: "";
            border-top: 1px solid #EEEEEE;
            width: 100%;
            height: 1px;
            position: absolute;
            .title{
                color:#252525;
            }
        }
    }
}

.playing{
    height: .2rem;
    margin: 0 auto;
    span{
        display: inline-block;
        width: .06rem;
        height: 100%;
        margin-right:.1rem;
        border-radius: 4px;
        background: #ff6832;
        -webkit-animation: load 1s ease infinite;
    }
    span:nth-child(2){
        -webkit-animation-delay:0.2s;
    }
    span:nth-child(3){
        -webkit-animation-delay:0.4s;
    }
    span:nth-child(4){
        -webkit-animation-delay:0.6s;
    }
    &.stoped{
        span{
            -webkit-animation: none!important;
            height: .4rem;
        }
        span:nth-child(2){
            height: .33rem;
        }
        span:nth-child(3){
            height: .26rem;
        }
        span:nth-child(4){
            height: .19rem;
        }
    }
}
@-webkit-keyframes load{
    0%,100%{
        height: .2rem;
        margin-right:.1rem;
        background: #ff6832;
    }
    50%{
        height: .35rem;
        margin: -.08rem 0;
        margin-right:.1rem;
        background: #ff6832;
    }
}

