@import "common/variables";
@import "common/base";


.song-list{
    .song-item{
        padding-top:16px !important;
        padding-bottom: 12px !important;
        padding-left:6px !important;
        margin-left:6px !important;
        border-bottom:1px solid #e0e0e0;
        .song-title{
            font-size: 16px;
            line-height: 22px;
            .label-vip{
                padding:2px 8px;
                margin-left:10px;
            }
        }
        .song-author{
            font-size:12px !important;
        }
        .choose-button{
            border: 1px solid #ff895f;
            padding: 4px 8px;
            border-radius: 20px;
            color: #ff895f;
            top:13px !important;
            font-size:14px !important;
            text-align: center;
        }
    }
}
input, textarea {
    -webkit-user-select: text !important;
}
