@import "common/variables";
@import "common/base";

.no-border {
    border: none !important;
}

.song-list {
    .song-item {
        padding-top: .16rem !important;
        padding-bottom: .16rem !important;
        padding-left: 0 !important;
        margin-left: .267rem !important;
        border-bottom: .027rem solid #e0e0e0;
        height: 1.6rem;
        display: flex;
        align-items: center;
        .song-title {
            font-size: .4rem;
            width: 7rem;
            display: inline-flex;
            height: .7rem;
            align-items: center;
            font {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                align-items: center;
                line-height: .4rem;
                height: .4rem;
            }
            .label-vip {
                margin-left: .133rem;
                display: flex;
                align-items: center;
            }
        }
        .song-author {
            font-size: .32rem !important;
            margin-top: .133rem;
            width: 95%;
            height: .5rem !important;
            display: flex;
            align-items: center;
            max-width: 5.6rem;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .choose-button {
            width: 1.333rem !important;
            height: .8rem !important;
            border: .027rem solid #ff895f;
            padding: .053rem .106rem;
            border-radius: .4rem;
            color: #ff895f;
            font-size: .4rem !important;
            text-align: center;
            display: flex !important;
            align-items: center;
            justify-content: center;
            top: 50% !important;
            margin-top: -.4rem;
        }
    }
}

.singer-album-list {
    padding-top: 1.3rem !important;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    > div {
        width: 50%;
    }
}

.single-list {
    .single-item {
        height: 1.467rem;
        overflow: hidden;
        border: 10px;
        box-sizing: border-box;
        display: block;
        font-family: Roboto, sans-serif;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        cursor: pointer;
        text-decoration: none;
        margin: 0;
        padding: 0;
        outline: none;
        font-size: 16px;
        font-weight: inherit;
        position: relative;
        z-index: 1;
        color: rgba(0, 0, 0, 0.87);
        line-height: 16px;
        transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
        background: none;
        & > div > div {
            margin-left: 0;
            padding: 0.553rem 56px 20px 2rem;
            position: relative;
        }
        i {
            display: flex;
            height: 0.64rem;
            width: 0.64rem;
            position: absolute;
            top: 0.01rem;
            margin: 0.4rem;
            right: 4px;
            justify-content: center;
            align-items: center;
            img{
                width: 6px;
            }
        }
        img.avatar {
            color: rgb(255, 255, 255);
            background-color: rgb(188, 188, 188);
            display: inline-flex;
            align-items: center;
            justify-content: center;
            font-size: 17.92px;
            border-radius: 50%;
            height: 1.12rem;
            width: 1.12rem;
            position: absolute;
            top: 8px;
            left: 16px;
            overflow: hidden;
            user-select: none;
        }
    }
    .single-item:after {
        border-top: .027rem solid #e5e5e5;
        position: absolute;
        width: 100%;
        left: 2rem;
        bottom: 0;
        content: "";
    }
}

.barrage-input{
    hr{
        display: none;
    }
}

.dialog-panel {
    & > div > div > div {
        -webkit-border-radius: 10px !important;
        -moz-border-radius: 10px !important;
        border-radius: 10px !important;
    }
    .sure-button {
        color: #ff6832 !important;
    }
    .cancel-button {
        color: #6c6c6c !important;
    }
}

input, textarea {
    -webkit-user-select: text !important;
}

.hot-key {
    width: 7.2rem;
    display: flex;
    flex-wrap: wrap;
    padding: .6rem;
    p {
        width: 1rem;
        height: 1rem;
        margin: 0;
        font-size: .4rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        &.active, &:active {
            background-color: #ff6932;
            color: white;
        }
    }
}

.history-words {
    & > div {
        & > div:after {
            content: "";
            border-top: 1px solid #EEEEEE;
            width: 100%;
            height: 1px;
            position: absolute;
            .title {
                color: #252525;
            }
        }
    }
}

.img-not-loaded {
    overflow: hidden;
    background-image: url('../img/common/blank.png');
    background-repeat: no-repeat;
    background-size: auto 2rem;
    background-color: rgb(234, 234, 234);
    background-position: center center;
}

.dialog-panel {
    & > div * {
        font-size: .4rem !important;
    }
    & > div > div {
        width: 7.8rem !important;
    }
    & > div > div > div > div {
        &:nth-child(1) {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 2.4rem !important;
        }
        &:nth-child(2) {
            padding: 0 !important;
            border-top: 0.02rem solid rgb(224, 224, 224) !important;
            button {
                height: 1.4rem !important;
                width: 50%;
                &:nth-child(1) {
                    border-right: 0.02rem solid rgb(224, 224, 224) !important;
                    border-radius: 0 !important;
                }
                & > div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 1.4rem !important;
                }
            }
        }
    }
}

.dialog-orderSubmit {
    & > div > div > div > div {
        &:nth-child(1) {
            height: auto !important;
            & > ul > li {
                font-size: .45rem !important;
                &:last-child {
                    font-size: .35rem !important;
                }
            }
        }
    }
}

.show-alert {
    .home, .home-recommend, .home-rank, .common-song-list {
        overflow: hidden !important;
    }
}

.grade-tile {
    > div:nth-child(2) {
        height: .6rem !important;
        & > div > div {
            line-height: .4rem !important;
        }
    }
}

@media screen and (min-width: 768px) {
    .grade-tile {
        > div:nth-child(2) {
            height: .6rem !important;
            & > div > div {
                line-height: .4rem !important;
            }
        }
    }
}

.loading-bottom {
    position: relative;
    display: flex;
    justify-content: center;
    height: .8rem;
    font-size: 14px;
    margin-bottom: 2.347rem;
    align-items: center;
    span {
        font-size: .34rem;
        color: gray;
    }
    &>div{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.scroll-to-top-button {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1.5rem;
    background-color: rgba(255, 104, 50, 0.76);
    position: fixed;
    bottom: 1.9rem;
    right: 1rem;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s ease;
    svg {
        width: .8rem !important;
        height: .8rem !important;
    }
    svg:active {
        fill: red !important;
    }
}

.scroll-to-top-button:active {
    svg {
        fill: red !important;
    }
}

.rotate {
    animation: rotate .7s infinite both;
}
@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

.payCircle{
    width: .8rem!important;
    height: .8rem!important;
}
