.audio-play{
    background-color: rgb(247, 247, 247);
    height: 100%;
    position: absolute;
    overflow: hidden;
    .top-panel {
        position: relative;
        margin: 1.0667rem 1.0667rem .347rem ;
        .audio-item{
            .utilities{
                position: absolute;
                top: 2.7rem;
                width: 88%;
                left: 6%;
                .control-buttons{
                    position: absolute;
                    top: 1.6rem;
                    left:50%;
                    .rc-progress-circle{
                        width: 1.6rem;
                        height: 1.6rem;
                    }
                    .audio-control_btn{
                        width: 1.5rem;
                        height: 1.5rem;
                        background-color: #ff6832;
                        box-shadow: 1px 6px 20px 6px rgba(255, 104, 50, 0.25);
                        svg{
                            height: .6rem;
                            width: .6rem;
                        }
                    }
                }
                .audio-control_progress-container{
                    .rc-progress-circle {
                        width: 1.6rem;
                        height: 1.6rem;
                    }
                }
                .slider-panel{
                    padding: 0;
                    margin: 0;
                    width: 100%;
                    .rc-slider{
                        .rc-slider-track{
                            background-color: #ff6832;
                            height:2px;
                        }
                        .rc-slider-rail{
                            height:2px;
                        }
                        [role="slider"]{
                            border-color: #ff6832;
                            margin-top: -6px;
                        }
                    }
                }
            }
        }
        .swipe-panel {
            width: 7.867rem;
            height: 7.867rem;
            box-shadow: 0 0 20px 2px rgba(128, 128, 128, 0.28);
            .img-div {
                width: 100%;
                height: 7.867rem;
                overflow: hidden;
                img {
                    width: 100%;
                }
            }
        }

        .audio-item {
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 20px;
            .slider-panel {
                width: 80%;
                height: 40px;
                /*background: linear-gradient(45deg, #3498DB 25%, #2980B9 0, #2980B9 50%, #3498DB 0%, #3498DB 75%, #2980B9 0);*/
                padding: 15px;
                color: white;
                margin-left: 30px;
                .current-time {
                    left: -1.1rem;
                    top: -5px;
                    color: #999999;
                    font-size: .257rem;
                    position: absolute;
                }
                .duration {
                    right: -1.1rem;
                    top: -5px;
                    color: #999999;
                    font-size: .257rem;
                    position: absolute;
                }
            }
        }

    }
    .song-label{
        padding: 0;
        text-align: center;
        margin: 0 0 3.5rem ;
        color: #222222;
        font-size:.4rem;
    }
}


.user-info {
    margin-top: 10px;
}
