$namespace: "m-" !default;

$font-family-default: "Helvetica Neue", Helvetica, sans-serif !default;
$font-size-default: 17px !default;
$font-weight: 500 !default;
$font-weight-light: 400 !default;
$line-height-default: 21px !default;

// Colors
// --------------------------------------------------
$primary-color: #007aff !default;
$chrome-color: rgb(247, 247, 247) !default;
$default-color: #929292 !default;
$positive-color: #4cd964 !default;
$negative-color: #dd524d !default;
$warning-color: #f0ad4e !default;
$royal-color: #8a6de9 !default;
$grey-color: #c7c7cc !default;
$bar-color: #ff6932 !default;

// Bars
// --------------------------------------------------

$bar-base-height: 44px !default;
$bar-tab-height: 50px !default;
$bar-side-spacing: 10px !default;

$container-padding: 12px !default;
$container-margin: 12px !default;
:export {
    barBaseHeight : $bar-base-height
}
