$main-color: #398ddf;
$main-bar-color: #398dff;
//.children{
    svg{
        circle{
            stroke: $main-color!important;
        }
    }
    .main-color{
        color: $main-color!important;
        border-color: $main-color!important;
    }
    .main-background-color{
        background-color: $main-color!important;
    }
    .search-header:not(.gray){
        .search-bar-panel{
            .key-word-input{
                .voice{
                    display: block;
                    padding: .16rem .267rem .16rem .48rem;
                    width: 1.067rem;
                    height: .8rem;
                    position: absolute;
                    right: .32rem;
                    z-index: 1;
                    background: url("./assets/common/icon_voice.png") no-repeat center;
                    background-size: auto 80%;
                }
            }
        }
    }

    .song-list{
        .song-item{
            .choose-button{
                border: .027rem solid #3f8af6!important;
                color: #3f8af6!important;
            }
        }
    }

    div:not(.page-home){
        &>.search-header:not(.gray){
            .search-bar-panel {
                background: -webkit-gradient(linear, 0 100, 283 0, from($main-bar-color), to(lighten($main-bar-color, 10%)))!important;
                .key-word-input{
                    border: none!important;
                    background: -webkit-gradient(linear, 0 100, 283 0, from(lighten($main-bar-color, 16%)), to(lighten($main-bar-color, 30%))) !important;
                }
            }
        }
    }
    .search-header:not(.gray){
        .search-bar-panel {
            .key-word-input{
                border: none!important;
                background: -webkit-gradient(linear, 0 100, 283 0, from(rgb(126, 192, 255)), to(rgb(205, 227, 255))) !important;
            }
        }
    }
    .page-home{
        .search-header{
            .search-bar-panel{
                background: white!important;
            }
        }
    }
    .top-nav{
        padding-top: .7rem;
        background: url("./assets/nav/bg_top.png") no-repeat 0 -1.16rem;
        background-size: 100% auto;
        p{
            color: black!important;
        }
        .nav-item{
            background: no-repeat center;
            background-size: contain;
            width: .75rem!important;
            height: .75rem!important;
            &.category{
                background-image: url("./assets/nav/icon_catelog.png");
            }
            &.artists{
                background-image: url("./assets/nav/icon_singer.png");
            }
            &.trending{
                background-image: url("./assets/nav/icon_hot_song.png");
            }
        }
    }
    .bottom-nav{
        border-top: 1px solid $main-color!important;
        background-color: $main-color!important;
        background-image: url("./assets/nav/bg_bottom_nav.png");
        background-size: 100%;
        button{
            padding-top: 0!important;
            .title{
                color: black!important;
                &.on{
                    color: white!important;
                }
            }
            .nav-item{
                margin-bottom: 0.3rem!important;
                div{
                    background: no-repeat center;
                    background-size: 55%;
                }
                &.nav-index div{
                    height: .9rem!important;
                    width: .9rem!important;
                    background-image: url("./assets/nav/nav_index.png");
                    &.on{
                        color: white!important;
                        border-radius: .9rem;
                        background-color: $main-color;
                    }
                }
                &.nav-controller{
                    .controller{
                        background-size: 50%;
                        background-color: #a4ccfd!important;
                        background-image: url("./assets/nav/nav_controll.png");
                        &.on{
                            background-color: $main-color!important;
                        }
                    }
                    .nav-circle-top{
                        background-color: #7db8fe!important;
                        border: 1px solid #7db8fe!important;
                    }
                    .nav-circle-mask-line, .nav-circle-mask-arc{
                        background-color: transparent!important;
                        border: none!important;
                    }
                }
                &.nav-me div{
                    height: .9rem!important;
                    width: .9rem!important;
                    background-image: url("./assets/nav/nav_me.png");
                    &.on{
                        color: white!important;
                        border-radius: .9rem;
                        background-color: $main-color;
                    }
                }
            }
        }
    }

    .scroll-to-top-button{
        background: $main-color!important;
    }
    .song-title{
        .label-vip div{
            background: url("./assets/common/icon_vip.png") no-repeat;
            background-size: contain;
        }
    }

    .user-header{
        background: none!important;
        &>img{
            border: 3px solid #c5dcfb!important;
        }
        .user-nickname{
            color: black!important;
            text-shadow: 0 0 1px #f1c34c80;
        }
    }
    .user-section{
        background: url("./assets/nav/bg_top.png") no-repeat 0 1.4rem;
        background-size: 100% auto;
    }
    .my-record-header{
        span{
            color: $main-color!important;
        }
        svg{
            color: lighten($main-color, 20%)!important;
        }
    }
    .user-section{
        .function-icon{
            background: no-repeat center;
            background-size: contain;
        }
        .device-icon{
            background-image: url("./assets/my/user_device.png");
        }
        .my-order-icon{
            background-image: url("./assets/my/user_myOrder.png");
        }
        .album-icon{
            background-image: url("./assets/my/user_album.png");
        }
        .feedback-icon{
            background-image: url("./assets/my/to_feedback.png");
        }
    }

    .song-controller-tab{
        &>div:nth-child(1){
            background: -webkit-gradient(linear, 0 100, 283 0, from($main-color), to(#7db8fd)) !important;
        }
        .on{
            color: $main-color!important;
        }
    }

    .hot-key p.active, .hot-key p:active{
        background-color: $main-color;
    }

    /*song controller*/
    .controller-bar {
        &.controller-bar-barrage .icon{
            background: url("./assets/common/icon_barrage.png") no-repeat;
        }
        &.controller-bar-effect .icon{
            background: url("./assets/common/icon_effect.png") no-repeat;
        }
        &.controller-bar .icon{
            height: 0.6rem;
            background-size: contain;
            background-position: center;
        }
    }

    /*effect*/

    .effect{
        .top-area{
            .big-circle{
                svg{
                    fill: $main-color!important;
                }
                border-color: lighten($main-color, 20%)!important;
                .inside-circle{
                    color: $main-color!important;
                    border-color: lighten($main-color, 20%)!important;
                }
            }
        }
        .center-area:not(.nst){
            .fun-button{
                overflow: hidden;
                img{
                    height: 0.4rem;
                    position: relative;
                    left: -150px;
                    border-right: 20px solid transparent;
                    -webkit-filter: drop-shadow(160px 0 $main-color);
                    filter: drop-shadow(160px 0 $main-color);
                    overflow: hidden;
                }
                .label{
                    color: $main-color!important;
                }
                .button{
                    border-color: lighten($main-color, 20%)!important;
                }

            }
        }
        .bottom-area:not(.nst){
            .fun-button{
                .haf-top-button, .haf-bottom-button{
                    border-color: lighten($main-color, 20%)!important;
                    svg{
                        fill: $main-color!important;
                    }
                }
                .label{
                    color: $main-color!important;
                }
            }
        }
    }

    /*song item*/
    .song-item{
        svg{
            fill: $main-color!important;
        }
        .del-icon, .set-top-icon{
            width: 0.4rem;
            height: .4rem;
            background: url("./assets/common/icon_un_top.png") no-repeat;
            background-size: contain;
        }
        .set-top-icon{
            background: url("./assets/common/icon_set_top.png") no-repeat;
            background-size: contain;
        }
    }

    .change-theme{
        position: absolute;
        right: .6rem;
        top: .6rem;
        width: 1.2rem;
        height: 1.2rem;
        background: url("./assets/common/theme_change_children.png") no-repeat;
        background-size: contain;
    }
//}
